<div class="row register-form">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="/user/register" method="POST">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailaddress">Email Address:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            <input type="text" id="emailaddress" name="emailaddress" class="form-control" placeholder="email@website.com" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passwordmatch">Confirm Password:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            <input type="password" id="passwordmatch" name="passwordmatch" class="form-control" placeholder="Password" />
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="register" />
                </form>
            </div><!--/.panel-body-->
        </div><!--/.panel-->
    </div><!--.col-sm-6-->
</div><!--.register-form-->