<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" ng-app="boredBoardApp">
  <head>
    <title>VLV: Ben Schultz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <base href="/">
  </head>
  <body lang="en" ng-controller="ApplicationController">
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
  <!-- Start Error Display -->
  <!-- End Error Display -->
  <!-- Start Content Display -->
    <div class="navbar navbar-inverse navbar-fixed-top active" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/thread/list">VLV: Welcome to hell</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">threads <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/">view all</a></li>
                <li><a href="#/thread/new">new thread</a></li>
              </ul>
            </li>
            <li><a href="#">messages</a></li>
            <li><a href="#">search</a></li>
            <li><a href="#/user/me">profile</a></li>
            <li ng-if="!currentUser"><a href="#/login">sign in</a></li>
            <li ng-if="currentUser"><a ng-click="logout()">sign out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="alert alert-warning fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <strong>Holy underwear!</strong> Welcome to the beta version of VLV. Now mobile friendly, and more real time. Feel free to take a look, and <a href="#/thread/view/5411ea9631ee604a21c818ce">post in this thread</a> with any feedback/issues you encounter!
    </div>
        <%- body %>
        
        <ul class="nav">
          <li><a href="#/thread/list">back to it</a></li>
        </ul>
        bored-board
    </div>
  <!-- End Content Display -->
    <!--SCRIPTS-->
    <script src="/js/dependencies/jquery/jquery.min.js"></script>
    <script src="/js/dependencies/angular/angular.min.js"></script>
    <script src="/js/dependencies/angular-route/angular-route.min.js"></script>
    <script src="/js/dependencies/ngInfiniteScroll/ng-infinite-scroll.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/bootstrap/bootstrap.min.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/main.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
