<div class="row login-form" ng-controller="AuthSignInCtrl">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <form novalidate ng-submit="signin(userSignInForm.$valid)" name="userSignInForm">
          <div class="form-group">
            <label for="username">Username</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              <input type="text" id="username" name="username" class="form-control" placeholder="Username" required ng-model="credentials.username" />
            </div>
            <span class="error" ng-show="userSignInForm.username.$error.required && !userSignInForm.username.$pristine ">Username required!</span><br>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <input type="password" id="password" name="password" class="form-control" placeholder="Password" required ng-model="credentials.password"/>
            </div>
            <span class="error" ng-show="userSignInForm.password.$error.required && !userSignInForm.password.$pristine ">Password required!</span><br>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <button type="submit" class="btn btn-success" ng-disabled="userSignInForm.$invalid" value="login" id="submit">login</button>
            </div>
            <div class="col-sm-6">
              <div class="pull-right">
                Not a user? <a href="#/user/register">Click here to Register!</a>
              </div>
            </div>
            <input type="hidden" name="next" value="" />
          </div>
        </form>
      </div><!--/.panel-body-->
    </div><!--/.panel-->
  </div><!--/.col-sm-6-->
</div><!--/.login-form-->