<h3>{{ thread[0].title }}</h3>
<div id="threadposts" ng-repeat="post in posts">
  <div class="row post" id="post_{{ post._id }}_info">
      <div class="col-md-12">
    		<span class="postinfo"><a href="#/user/{{ post.creator }}" class="memberlink">{{ post.username }}</a> posted this on {{ post.createdAt | date: 'medium' }}</span>
      		&nbsp;&raquo; quote</a>&nbsp;&raquo;
    </div>
  </div>
  <div class="row post" id="post_{{ post._id }}_body">
    <div class="col-md-12">
      <div class="postbody" ng-bind-html="renderHtml(post.body)"></div>
    </div>
  </div>
</div>

<div id="response_form"></div>
  <fieldset>
    <legend>Account</legend>
    <div id="loggedin"><h4 style="display:inline" id="loggedinname"> </h4>&nbsp;
    (<a href="javascript:;" onclick="$('#loggedin').hide();$('#account').show();">post as someone else</a>)</div>
    <span id="account" style="display:none">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="" class="form-control" />
      </div>
      <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" name="pass" id="pass" value="" class="form-control"/>
      </div>
    </span>
  </fieldset>

  <fieldset>
  <div ng-controller="ReplyThreadCtrl">
    <form ng-submit="post(replyPostForm.$valid)" novalidate name="replyPostForm" class="replyForm"> 
    <legend>Reply</legend>
      <div class="form-group">
        <label id="label_body" for="body">Body:</label>
        <textarea name="body" id="body" rows=5 class="form-control" ng-model="message.body" required></textarea>
          <span class="error" ng-show="replyPostForm.body.$error.required">Post required!</span><br>
        <input type="hidden" id="thread" name="thread" ng-value="thread[0]._id" ng-model="message.thread" />
        <input type="hidden" id="creator" name="creator" ng-value="thread[0]._id" ng-model="message.creator" />
      </div>
          <button type="submit" class="btn btn-success" value="say it" id="postit">Say It</button>
    </form>
  </fieldset>

  </div>
<div id='bbcode' class='view' style='font-size:.85em;display:none;'>
  <pre>
    <h4>TAGS:</h4>
    http://www.google.com/ <-- automatic link
    [url]http://www.google.com/[/url]
    [url=http://www.google.com/]with my own link text[/url]
    [img]http://www.google.com/intl/en_ALL/images/logo.gif[/img]
    [u]underline[/u]
    [strong]bold[/strong]
    [b]bold[/b]
    [i]italic[/i]
    [em]italic[/em]
    [strike]strikethrough[/strike]
    [code]like pre[/code]
    [sub]subscript[/sub]
    [sup]superscript[/sup]
    [youtube]http://www.youtube.com/watch?v=WAwLYJYsa0A[/youtube]
    [vimeo]http://vimeo.com/11487173[/vimeo]
    [soundcloud]http://soundcloud.com/rantonio/infest[/soundcloud]
    [bandcamp]album=48165752[/bandcamp]
    [bandcamp]track=3451844715[/bandcamp]
    More info on bandcamp embedding here: http://www.macosxaudio.com/forums/viewtopic.php?f=11&t=46948
    [quote]quote[/quote]
    [spoiler]hidden text here[/spoiler]
  </pre>
</div>

<style type="text/css">
  .replyForm input.ng-invalid.ng-dirty {
    background-color: #FA787E;
  }

  .replyForm input.ng-valid.ng-dirty {
    background-color: #78FA89;
  }
</style>